<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>494590900150-gd1q1mi2a20psdqbid51bdgj98icdv2d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494590900150-gd1q1mi2a20psdqbid51bdgj98icdv2d</string>
	<key>API_KEY</key>
	<string>AIzaSyBJon-nhdgYwe4YKqRLuApGxovp49A_Bfg</string>
	<key>GCM_SENDER_ID</key>
	<string>494590900150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.phuongtran.blurrie</string>
	<key>PROJECT_ID</key>
	<string>blurrie-e8efa</string>
	<key>STORAGE_BUCKET</key>
	<string>blurrie-e8efa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494590900150:ios:82c1be9c6e7930d096f317</string>
	<key>DATABASE_URL</key>
	<string>https://blurrie-e8efa.firebaseio.com</string>
</dict>
</plist>